torch==1.13.1
numpy>=1.23.2
torchaudio>=0.13.1
speechbrain>=0.5.13
pandas>=1.4.4
dynaconf>=3.1.9
PyYAML>=6.0
matplotlib>=3.5.3
scipy>=1.8.1
scikit-learn
numba>=0.56.2
pyannote.metrics>=3.2.1
opencv-python>=4.6.0.66
seaborn>=0.12.1
librosa>=0.9.2
xgboost==1.7.2
soundfile==0.10.2
pyannote-audio>=2.1.1
matplotlib_inline
ipython
rich